doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Clock JS
    link(rel="stylesheet", href="./style.css")
    script(type="text/javascript" src="./index.js")
  body(onLoad="date")
    .container
      .clock-face
      .hand#hour-hand
      .hand#min-hand
      .hand#second-hand